body {
  display: flex;
  background: #282C33;
  flex-direction: column;
}

#tittle {
  position: absolute;
  width: 517px;
  height: 74px;
  left: 306px;
  top: 63px;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 79px;
  color: #FFFFFF;
}

#coin {
  position: absolute;
  width: 111px;
  height: 15px;
  left: 307px;
  top: 165px;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-top: 50px;
  color: #FFFFFF;
}

#form {
  padding: 10px;
}

#insertion {
  position: absolute;
  background: rgba(217, 217, 217, 0.1);
  border-radius: 10px;
  width: 171px;
  height: 48px;
  left: 306px;
  top: 250px;
}

#search {
  position: absolute;
  width: 111px;
  height: 48px;
  left: 490px;
  top: 253px;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #373737;
}

#board {
  position: absolute;
  width: 900px;
  height: 583px;
  left: 306px;
  top: 350px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
}